body > header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-bottom: 4rem;
  border-bottom: 3px solid rgb(97, 97, 97);
}

header * {
  vertical-align: top;
  margin-top: 0;
}

body > header p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

header nav {
  position: absolute;
  display: inline-block;
  right: 0;
  font-weight: 500;
  font-size: 0.7em;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 12px;
}

header a {
  color: rgb(0, 102, 0);
  text-decoration: none;
}

@media (max-width: 350px) {
  body > header p {
    display: block;
  }

  nav {
    left: 0;
  }

  header nav ul li {
    margin-left: 0;
  }
}
