@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
@import url('./reset.css');

html {
    margin: 0 2rem 0 2rem;
    font-family: 'Segoe UI', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
    font-weight: bold;
}

main {
    padding: 1rem 0.5rem;
}

main h2 {
    font-family: 'Times New Roman', serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

main p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}