<section id="votes">
    <div class="vote-info">
        <div class="card_left">
            <div class="card_datails">
                <h1>Votes</h1>
                <div class="card_vote">
                    <p class="PV">Total number of votes: {{creature.voters.length}}</p>
                </div>
                {{#if voters}}
                <p class="disc">People who voted for the post - {{creature.votersEmails}}</p>
                {{else}}
                <p class="disc">People who voted for the post - No one has voted yet.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>