<th:fragment class="user-data" th:each="user: ${lowerLevelUsers}" th:remove="tag">
    <form class="update-form" enctype="multipart/form-data" method="get">
        <div class="param-group">
            <div class="param">
                <input id="email" type="text" name="email" th:value="${user.email}" disabled>
            </div>

            <div class="param">
                <input id="nickname" type="text" name="nickName" th:value="${user.nickName}" disabled/>
            </div>

            <div class="param-role">
                <input id="role" type="text" name="role" th:value="${user.role}" disabled/>
            </div>

<!--            <select name="role" required>-->
<!--                <option th:each="possibleRole : ${possibleRoles}"-->
<!--                        th:id="${user.role}"-->
<!--                        th:selected="${user.role == possibleRole}"-->
<!--                        th:value="${possibleRole}"-->
<!--                        th:text="${possibleRole}">-->
<!--                </option>-->
<!--            </select>-->
        </div>

        <div class="btn-group">
            <a class="admin-form-btn"
               th:href="@{'/admin-panel/edit'}   ">Edit</a>
            <a class="admin-form-btn"
               th:href="@{'/admin-panel/delete'}">Delete</a>
        </div>
    </form>

</th:fragment>
