<th:fragment class="user-data" th:each="user: ${lowerLevelUsers}" th:remove="tag">
    <form class="update-form" enctype="multipart/form-data"
          th:method="post"
          th:action="@{/auth/login}">
        <div class="param-group">
            <div class="param">
                <input id="email" type="text" name="email" th:value="${user.email}" required>
            </div>

            <div class="param">
                <input id="nickname" type="text" name="nickName" th:value="${user.nickName}" required/>
            </div>

            <div class="param-role">
                <input id="role" type="text" name="role" th:value="${user.role}" required/>
            </div>

            <select th:name="role" class="change-roles">
                <option th:each="possibleRole : ${possibleRoles}"
                        th:value="${possibleRole}"
                        th:text="${possibleRole}">
                </option>
            </select>

        </div>

        <div class="btn-group">
            <a class="admin-form-btn" type="submit"
               th:href="@{'/admin-panel/edit'}">Update</a>
            <a class="admin-form-btn"
               th:href="@{'/admin-panel'}">Cancel</a>
        </div>
    </form>

</th:fragment>
