html {
    background-color: lightgray;
}

.gallery {
    list-style-type: none;
    max-width: 400px;
    margin: auto;
}

.gallery li {
    padding-bottom: 0.1rem;
    display: inline-block;
}


.gallery li img {
    padding: 0.3rem;
    border-width: -0.4rem;
    border-color: black;
    border-style: solid;
    max-height: 300px;
    max-width: 100px;
    vertical-align: middle;
    margin: 0.1rem;
}