html {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

* {
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

blockquote {
  border-left: rgb(221, 221, 221);
  font-style: italic;
}
